<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
  <% include ../partials/header %>
  <form method="POST" action="/action">
    <select name="reactor" required>
      <option disabled selected value> - select a reactor - </option>
      <%for (let i = 0; i < reactors.length; i++){
        %><option value="<%= reactors[i] %>" ><%= reactors[i] %></option><%
      }%>
    </select>
    <button type="submit" name="action" value="start">Start</button>
    <button type="submit" name="action" value="shutdown">Shut Down</button>
    <button type="submit" name="action" value="suspend">Suspend</button>
  </form>
  <section>
    <% if (typeof messages == 'undefined') { %>
      <% } else { %>
        <p style="text-transform: capitalize"><%= messages %></p>
      <% } %>
  </section>
  <% include ../partials/footer %>
</body>
<script type="text/javascript">
  const sect = document.querySelector('section')
</script>
</html>