<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
  <% include ../partials/header %>
  <form>
    <label>Username</label>
    <input type="text" required>
    <button type="button">Retrieve Password</button>
  </form> 
  <div></div>
  <% include ../partials/footer %>
</body>
<script>
  $(document).ready(function(){
    $("form").submit(function(){
      $.post("/test", {user: $("input").val()}, function(data){
        display_message(data)
      })
      return false
    })
    function display_message(data){
      $("div").html(data)
    }
  })
</script>
</html>